name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: trmcnvn/chrome-addon@v2
      with:
        # extension is only necessary when updating an existing addon,
        # omitting it will create a new addon
        zip: build/my-addon.zip
        client-id: ${{ secrets.CHROME_CLIENT_ID }}
        client-secret: ${{ secrets.CHROME_CLIENT_SECRET }}
        refresh-token: ${{ secrets.CHROME_REFRESH_TOKEN }}
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: Extention
        # Directory containing files to upload
        path: build/
